<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Enter image_tag: 
			</h1>
		</div>
		<div class="col-md-12">
			<input style="width:100%"  id ="image" type="text" name="image_tag" placeholder="<img src=&quot;path/test.png&quot; class =&quot;btn btn-primary&quot; alt =&quot;alt-attribute&quot;>"> 
			<button style="margin-top: 10px;" class ="btn btn-primary-outline" id ="image_btn">submit</button>
		</div>

		<div class="col-md-12">
			<div id ="result">
			</div>
		</div>
	</div>
</div>






<!-- <img src="asdas/d" class ="123 bbb"> -->



<script type="text/javascript">
	$( "#image_btn" ).click(function() {
		data_send ={"send": $("#image").val()}
		// console.log("hi" + data_send["send"]);
		$.ajax({
			type: "POST",
			url: "https://auto-erb.herokuapp.com/home/transform",
			data: data_send,
			dataType: 'json',
			success: function(response){
				console.log(response["result"])
				$("#result").append('<p>'+ response["result"] +'</p>')
			}
		});
	});


	
</script>